body {
  height: 100%;
  margin: 0 auto;
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  color: rgb(11, 0, 66);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f7f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
